{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- Section: Team v.2 -->
        <section class="team-section text-center my-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row text-center">

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://pbs.twimg.com/profile_images/763518338169528320/Ne6Ncb8H_400x400.jpg"
                             class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">H K</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Photographer</strong></h6>
                    <!-- Facebook-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb" src="https://is.linkedin.com/in/kristjansson">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <!--Dribbble -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble" src="https://twitter.com/hkristjansson">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw" src="https://github.com/HKristjansson">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-md-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://s3-eu-west-1.amazonaws.com/kfunddynamic/profile_pics/14964/square/3ff3cc1cda2fb42fbc27857065b7747d.jpg"
                             class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">John Doe</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Front-end Developer</strong></h6>
                    <!--Email-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <!-- Facebook-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- GitHub-->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4">
                    <div class="avatar mx-auto">
                        <img src="https://i.pinimg.com/280x280_RS/ed/55/b0/ed55b002ce700a1f40fbbcd28d125c7b.jpg"
                             class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Hannes Kristjansson</h4>
                    <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>
                    <!--Linkedin -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                        <i class="fab fa-twitter "></i>
                    </a>
                    <!--Pinterest -->
                    <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
                        <i class="fab fa-pinterest "></i>
                    </a>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Team v.2 -->
    </div>
{% endblock %}