{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 flex-grid">
                <div class="apartment-index-main">
                    <h2>Latest apartments:</h2>
                    <div class="apartments-index margin-bottom">
                        {% for apartment in apartments %}
                            {% if apartment.sold == 0 %}
                                <div>
                                    {% include 'apartment/single_apartment.html' with apartment=apartment %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% include 'part/search.html' %}
            </div>
        </div>
    </div>
{% endblock content %}

