<div class="container">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4>
                <i class="fas fa-building"></i> Search Apartment </h4>
        </div>
        <form method="get" id="search-form">
            <div class="card-body">
                <div class="s-holder">
                    <div class="row">
                        <div class="col-xxs-2 col">
                            <div class="input-field">
                                <label for="from">Address:</label>
                                <input type="text" class="form-control" id="from-place" placeholder="Any"
                                       name="address"/>
                            </div>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <div class="input-field">
                                <label for="from">Home Number:</label>
                                <input type="number" class="form-control" id="from-place" placeholder="Any"
                                       name="number"/>
                            </div>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <section>
                                <label for="class">Property Type:</label>
                                <select class="cs-select cs-skin-border input-half">
                                    <option value="" disabled selected>Any</option>
                                    <option value="1">Building</option>
                                    <option value="2">Office</option>
                                </select>
                            </section>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <section>
                                <label for="class">Size:</label>
                                <div class="wide">
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="size">
                                        <option value="" disabled selected>From</option>
                                        <option value="50">50 m</option>
                                        <option value="60">60 m</option>
                                        <option value="70">70 m</option>
                                        <option value="80">80 m</option>
                                        <option value="90">90 m</option>
                                        <option value="100">100 m</option>
                                    </select>
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="size">
                                        <option value="" disabled selected>To</option>
                                        <option value="50">50 m</option>
                                        <option value="60">60 m</option>
                                        <option value="70">70 m</option>
                                        <option value="80">80 m</option>
                                        <option value="90">90 m</option>
                                        <option value="100">100 m</option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <section>
                                <label for="class">Price:</label>
                                <div class="wide">
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="price">
                                        <option value="" disabled selected>From</option>
                                        <option value="10000000">10.000.000</option>
                                        <option value="20000000">20.000.000</option>
                                        <option value="30000000">30.000.000</option>
                                    </select>
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="price">
                                        <option value="" disabled selected>To</option>
                                        <option value="10000000">10.000.000</option>
                                        <option value="20000000">20.000.000</option>
                                        <option value="30000000">30.000.000</option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <section>
                                <label for="class">Bedrooms:</label>
                                <div class="wide">
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="rooms">
                                        <option value="" disabled selected>From</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="rooms">
                                        <option value="" disabled selected>To</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="col-xxs-12 col-xs-12">
                            <section>
                                <label for="class">Area (Zip):</label>
                                <div class="wide">
                                    <select class="cs-select cs-select-half cs-skin-border input-half"
                                            name="zip">
                                        <option value="" disabled selected>Any</option>
                                        <option value="100">100 Reykjavik</option>
                                        <option value="101">101 Reykjavik</option>
                                        <option value="102">102 Reykjavik</option>
                                        <option value="103">103 Reykjavik</option>
                                        <option value="600">600 Akureyri</option>
                                        <option value="601">601 Akureyri</option>
                                        <option value="602">602 Akureyri</option>
                                        <option value="603">603 Akureyri</option>
                                    </select>
                                </div>
                            </section>
                        </div>
                        <div class="col-xxs-12 col-xs-12 text-center">
                            <input type="hidden" name="search_filter" value="true">
                            <input type="submit" id="search-apa" value="Search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="map" style="background-image: url('/static/images/overlays/01.png');">
            </div>
        </form>
    </div>
</div>
</div>