{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fas fa-user-plus"></i> Add Realtor </h4>
                    </div>
                    <div class="card-body">
                        <form class="form form-horizontal" action="{% url 'create_seller' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Add" class="btn btn-secondary btn-block"
                                   style="clear:both; margin: 10px 0"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}