{% extends "base.html" %}
{% block content %}
    <h1>{{ seller.name }}</h1>

    <h4>Started: {{ seller.year_of_start }}</h4>
    <img src="{{ seller.image }}" class="seller-img">
    <p></p>
    <h4>{{ seller.description }}</h4>
    {% if request.user.is_superuser %}
                    <a href="{% url 'remove_seller' seller.id %}" class="block btn btn-primary">Remove
                        realtor</a>
                    <a href="{% url 'update_seller' seller.id %}" class="block btn btn-primary">Update
                        realtor</a>
                {% endif %}

    {% if seller.is_login %}
        <form method="get" action="{% url 'add_apartment' %}">
            <button class="btn btn-primary" type="submit">Add New Apartment</button>
        </form>
    {% endif %}
{% endblock %}