{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row-margin-bottom">
            <div class="col-md12">
                <div class="seller-index-main">
                <h3>Registered realtors</h3>
                <div class="seller">
                    {% for seller in sellers %}
                        {% if seller.disabled == False %}
                            <div>
                                {% include 'seller/single_seller.html' with seller=seller %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
