{% extends "base.html" %}
{% block content %}
<section class="apartment-details-container">
    <div class="apartment-details-1">
        {% for apartment_image in apartment.apartmentimage_set.all %}
            <img src = "{{ apartment_image.image }}" class = "apartment-img-large" />
        {% endfor %}
    </div>
        <div class="apartment-details-2">
        <h1>{{ apartment.address }}</h1>
        <p>{{ apartment.description }}</p>
        <p>{{ apartment.price }}.kr</p>
     <p>Seller: {{ apartment.seller.name }}</p>
    </div>
        <div class="apartment-details-3">
        <a href="{% url 'remove_apartment' apartment.id %}" class="block btn btn-primary">Remove apartment</a>
        <a href="{% url 'update_apartment' apartment.id %}" class="block btn btn-primary">Update apartment</a>
    </div>
</section>

{% endblock %}