{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card margin-bottom">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fas fa-user-plus"></i> Congratulations on your purchase</h4>
                    </div>
                    <div class="card-body">
                        <form class="form form-horizontal" action="{% url "buy_apartment_step_three"  %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            {{ credit_card }}
                            <input type="submit" value="Go back to main page" class="btn btn-primary pull-right"
                                   style="clear:both; margin: 10px 0"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
