<div class="card_index mb-3 card-cascade mx-2 my-2 border rounded">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top img-const" src="{{ apartment.apartmentimage_set.first.image }}" alt="Card image cap">
        <a href="/apartments/{{ apartment.id }}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade">

        <!-- Title -->
        <div class="row">
            <div class="col-sm ml-2 h4-responsive">
                <div class="text-left">{{ apartment.address }} {{ apartment.number }}</div>
                <div>{{ apartment.zip }}</div>
                <div>{{ apartment.rooms }} Bedrooms</div>
                <div class="text-left"><strong>Price: {{ apartment.price }}</strong></div>
            </div>
            <div class="col-sm">
                <div class="font-weight-bold indigo-text">Description: {{ apartment.description }}</div>
            </div>
        </div>
    </div>
</div>