{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card margin-bottom">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fas fa-user-plus"></i> Update Apartment </h4>
                    </div>
                    <div class="card-body">

                        <form class="form form-horizontal" action="{% url 'update_apartment' id %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Update" class="btn btn-primary pull-right"
                                   style="clear:both; margin: 10px 0"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}